
.fill {}

.fill__wrap {
  width: 800px;
  height: 600px;
  background: lightgrey;
  position: relative;
}
.fill__block {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  /*
  transition : transform 1s, width 1s;
  */


}
.fill__block._size1 {
  background: red;
  width: 100px;
  height: 100px;
}
.fill__block._size2 {
  background: yellow;
  width: 70px;
  height: 70px;
}
.fill__block._size3 {
  background: green;
  width: 150px;
  height: 150px;
}
.fill__block._size4 {
  background: blue;
  width: 300px;
  height: 50px;
}
.fill__block._size5 {
  background: pink;
  width: 50px;
  height: 100px;
}
.fill__block._size5 {
  background: tomato;
  width: 200px;
  height: 250px;
}
.fill__block._size6 {
  background: black;
  width: 66px;
  height: 66px;
}
.fill__block._size7 {
  background: turquoise;
  width: 190px;
  height: 130px;
}
.fill__block._size8 {
  background: wheat;
  width: 230px;
  height: 200px;
}
.fill__block._size9 {
  background: yellowgreen;
  width: 70px;
  height: 336px;
}
.fill__block._size10 {
  background: violet;
  width: 210px;
  height: 16px;
}